@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    gap: 15rem;
    margin-top: 2rem;
    
}

a{  
    color:inherit;
    text-decoration: none;
    


}
.section1, .section2 {
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 700px;
    border: solid red;
}
p {
    width: 100%;
    height: auto;
    max-width: 40rem;
    letter-spacing: 1px;
    padding: 12rem 1rem 11rem 1rem;
    font-size: large;
 
}
.photo {
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 2rem;
}
h1 {
    font-size: 3rem;
    margin-top: 3rem;
}
h2 {
    padding: 0 0 4rem 0;
}
.email{
    background-color: black;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
}
.icons {
    padding: 5rem 1rem 3rem 1rem;
    display: flex;
    justify-content: space-evenly;
}
.actions {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;

}
.actions *{
    color: white;
    background-color: black;
    padding: 1rem 2rem 1rem 2rem;  
    
}

a:hover {
    background-color: #4fb6cf;
    color: white;
}